<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>trel·lis - Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/profile">trel·lis  <br /> <small><small><small>/ˈtrelis/</small></small></small></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class='active'><a href="/profile">Home</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/topic">Add Topic</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class='caret'></b></a>
                        <ul class='dropdown-menu'>
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="#">#</a></li>
                            <li class='dropdown-header'>#</li>
                            <li><a href="#">#</a></li>
                            <li><a href="#">#</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron text-center">
            <div class='chart-container'>
                <canvas id="sleepRecords" style='height: 35%'></canvas>
            </div>
            <div class='chart-container'>
                <canvas id="myChart" style='height: 65%'></canvas>
            </div>
            <!-- the options were to put this js in the html and add data via mustache, or
            re-route everything through ajax to get the data into the script.js, doubling the load time. Tried the second option for the second chart. Both options suck. I need a better template engine -->
            <script type="text/javascript">
                const ctx = document.querySelector("#myChart").getContext("2d");
                const config = {
                    type: 'line',
                    data: {
                        labels: [
                            {{#resData.thisWeek}}
                                '{{label}}',
                            {{/resData.thisWeek}}
                        ],
                        datasets: [{
                            label: "Eating Schedule",
                            backgroundColor: 'rgba(40, 118, 226, .8)',
                            borderColor: 'rgba(40, 118, 226, .8)',
                            data: [
                                {{#resData.eating}}
                                    '{{elem}}',
                                {{/resData.eating}}
                            ],
                            fill: false,
                            pointRadius: 10,
                            pointHoverRadius: 15,
                            showLine: false
                        }, {
                            label: "Meditation",
                            fill: false,
                            backgroundColor: 'rgba(72, 190, 255, 1)',
                            borderColor: 'rgba(72, 190, 255, 1)',
                            data: [
                                {{#resData.meditate}}
                                    '{{elem}}',
                                {{/resData.meditate}}
                            ],
                            fill: false,
                            pointRadius: 10,
                            pointHoverRadius: 15,
                            showLine: false
                        }, {
                            label: "Exercise",
                            fill: false,
                            backgroundColor: 'rgba(18, 183, 131, .8)',
                            borderColor: 'rgba(18, 183, 131, .8)',
                            data: [
                                {{#resData.exercise}}
                                    '{{elem}}',
                                {{/resData.exercise}}
                            ],
                            fill: false,
                            pointRadius: 10,
                            pointHoverRadius: 15,
                            showLine: false
                        }]
                    },
                    options: {
                        layout: {
                            padding: {
                                top: 20,
                                rigth: 15
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        tooltips: {
                            enabled: false,
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        legend: {
                            position: 'bottom',
                            labels: {
                                boxWidth: 15
                            }
                        },
                        scaleOverride: true,
                        scaleSteps: 10,
                        scaleStepWidth: 20,
                        scaleStartValue: 0,
                        scales: {
                            xAxes: [{
                                display: true
                            }],
                            yAxes: [{
                                display: false,
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1
                                }
                            }]
                        }
                    }
                };
                window.onload = () => new Chart(ctx, config);
            </script>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class='btn btn-primary insomnia event' value="eating">Ate (before 11)</button>
            </div>
            <div class="col-sm-4">
                <button class='btn btn-primary insomnia event' value="exercise">Exercised!</button>
            </div>
            <div class="col-sm-4">
                <button class='btn btn-primary insomnia event' value="meditate">Meditated!</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Hello, {{resData.user.email}}</h3>
            <p> Log events to track your actions. See how it affects your actual sleep quality.</p>
            <p> Check out the resources section for some info on disease patterns, or head to the forum if you need to commiserate</p>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-text pull-left">
                <p>copyright never</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="js/script.js"></script>
    <script src="js/charts.js"></script>
</body>

</html>
